name: taxbrain-dev
channels:
- PSLmodels
- conda-forge
dependencies:
- python>=3.6.5
- taxcalc>=3.0.0
- behresp>=0.11.0
- pandas>=0.23
- numpy>=1.14
- paramtools>=0.10.1
- pytest
- dask
- bokeh
- markdown
- tabulate
- pypandoc
- pip
- matplotlib
- pip:
  - cs-kit
  - cs2tc
