name: taxbrain-dev
channels:
- conda-forge
dependencies:
- "python>=3.11, <3.14"
- "taxcalc>=6.0.0"
- "behresp>=0.11.0"
- "numpy>=1.26"
- "pandas>=2.2"
- "paramtools>=0.20.0"
- pytest
- dask
- bokeh
- markdown
- tabulate
- pypandoc
- pip
- matplotlib
- s3fs
- pip:
  - "cs-kit>=1.16.8"
  - cs2tc
  - black
